.content-avatar {
    height: 290px;
    width: 290px;
    border-radius: 50%;
    cursor: pointer;

    .avatar-user {
        height: 100%;
        object-fit: cover;
    }
}

.p-dialog-mask {
    z-index: 16000 !important;
}

.p-dialog {
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 10px 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);

    .text-dialog {
        color: #072442;
        margin-bottom: 10px;
        text-align: left;
    }

    .btn-submit-dialog {
        margin: 20px 0;
        color: #072442;
        border-radius: 5px;
        border: 2px solid #072442;
        padding: 4px 15px;
        font-weight: 600;

        &:hover {
            transition: all .2s;
            background: #072442;
            color: #FFF;
        }
    }

    .p-dialog-content {
        label {
            height: 100%;
            width: 100%;
        }
    }
}

.tippy-box {
    z-index: 16000 !important;
}