.change-password-wrapper {
    .title-info {
        margin-bottom: 20px;
    }

    .form-group {
        position: relative;

        .hidden-password {
            position: absolute;
            right: 8px;
            top: 8px;
            font-size: 14px;
        }

        .input-text {
            background: transparent;
            border: 1px solid rgba(255, 255, 255, .2);
            border-radius: 10px;
            padding: 6px 10px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 20px;
            color: #FFF;

            &:focus {
                border: 1px solid rgba(255, 255, 255, .2) !important;
            }
        }
    }

    .submit-update-password {
        width: 100%;
        padding: 6px 10px;
        font-size: 16px;
        background: rgba(255, 255, 255, .2);
        border-radius: 10px;
        color: #FFF;
        font-weight: 600;

        &:hover {
            transition: all .3s;
            background: #FFF;
            color: rgb(82, 92, 105);
        }
    }

    .message-error {
        position: absolute;
        color: #ff1d1d;
        left: 50%;
        bottom: 5px;
        font-weight: 700;
        width: 100%;
        transform: translateX(-50%);
    }
}