.layout {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    overflow: hidden;

    .bg-layout-1 {
        position: absolute;
        inset: 0;
        z-index: -2;
        transform: rotate(22deg) scale(1.75);

        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba(0, 255, 255, 0.1);
            z-index: -1;
        }
    }
}

//Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 100px;
    width: 8px;
    background: rgb(206, 206, 206);
}

html *::-webkit-scrollbar {
    border-radius: 100px;
    width: 8px;
    background: rgb(206, 206, 206);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabidex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}